.error-msg {
  height: 1.2rem;
  font-size: 1.2rem;
  line-height: 1;
}

.form-row ~ .form-row {
  margin-top: 12px;
}

form {
  width: 480px;
  border: 1px solid black;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-block: 1rem;
}

input,
select,
option {
  width: 180px;
  height: 2rem;
  font-size: 1rem;
  line-height: 1;
  padding: 5px 8px;

  color: #000;
  border: 1px solid #000;
}

span.guide {
  width: 180px;
  line-height: 1;
  display: block;
  padding-block: 2px;
  font-size: 0.8rem;

  margin-top: 5px;
  margin-bottom: 10px;
}

input.invalid,
input:user-invalid {
  color: red;
  border: 2px solid red;
}

input.valid,
input:user-valid {
  color: green;
  border: 2px solid green;
}
